*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

 }

 body {
    background-color: #292929;
    font-family: 'Ubuntu', sans-serif;
    

 }
 
   
 header{
    background: #03a9f4;
    width: 100%;
    clear: both;
    content:'';
    display: table;
 }
 aside{
   background-color: black;
   margin-top: 1px;
   text-align: center;
   font-family:'Arial Narrow Bold';
   padding: 0% 30px;
   
   
 }
 .menu {
    width: 900px;
    margin: 0 auto;
 }
 main{
   margin: 50px;
    padding: 8px;
    text-decoration: none;
    color: aliceblue;
    
    
 }
 .button {
   background-color:#f44336; /;* red */
   border: none;
   color:white;
   padding: 12px 30px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
 }
 

 img {
    
    width: 120px; 
    height: 120px; 
    float: left;
    padding: 8px ;
}
 .img1 {
       width: 35px; 
       height: 35px;
       float: left; 
   
   
}
nav{
    float: right;
}
nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 25px 0;
    float: left;
}
nav ul li a {
    text-decoration: none;
    color: #444;
    font-weight: bold;


}